body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://farm8.staticflickr.com/7803/33443644028_8e7f37542d_k.jpg');
    height: 600px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-flex {
    display: flex;
    justify-content: center;
}

.card-tile {
    margin: 1vw;
}

.song-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 75%;
}

.song-parent {
    margin-bottom: 1vw;
}

.add-song {
    margin: 2vw 0 2vw 0;
}

.radio-title {
    text-align: center;
    font-size: 8vw;
    color: whitesmoke;
}

li {
    list-style-type: none;
}

.radio-flex, .song-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-flex {
    display: flex;
    justify-content: space-around;
}

.radio-buttons {
    margin: 1vw;
}

.radio-titles {
    color: whitesmoke;
    font-size: 5vw;
}

.radio-sub {
    font-size: 3vw;
    color: whitesmoke;
}

.song-list {
    border-radius: 5%;
    color: white;
    background-color: black;
}

.song-list:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 5%;
}

.song-info {
    color: whitesmoke;
}

.rating-link {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin: 1vw;
}

.song-link-header {
    margin: 0;
    padding: 1vw;
}
