<form action="/radios/{{radiostations._id}}" method="GET">
    <input type="text" name="name">
    <input type="text" name="genre">
    <button type="submit">Submit</button>
</form>
<a href="/radios/{{radiostations._id}}">
    <button>Cancel</button>
</a>