{{!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> --}}


<h1 class="radio-title"> Radio Stations</h1>
<a href="/radios/new">
    <button class="btn btn-primary btn-lg">Add new radio station</button>
</a>
<ul class="card-flex">
    {{#each radiostations}}
    <div class="card card-tile" style="width: 25em;">
        <div class="card-body">
        <li>
                <h5 class="card-title">
                    <a href="/radios/{{id}}">{{name}}</a>
                </h5>
                <p class="card-text">{{genre}}</p>     
        </li>
        </div>
    </div>
    {{/each}}
</ul>