{{!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> --}}


<h1> Radio Stations</h1>
<a href="/radios/new">
    <button>Add new radio station</button>
</a>
<ul>
    {{#each radiostations}}
        <li class="card" style="width: 18em;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/radios/{{id}}">{{name}}</a>
                </h5>
                <p class="card-text">{{genre}}</p>
            </div>          
        </li>
    {{/each}}
</ul>