<form action="/radios" method="POST">
    <input type="text" name="name">
    <input type="text" name="genre">
    <button type="submit">Submit</button>
</form>
<a href="/radios">
    <button>Cancel</button>
</a>