<form action="/radios" method="POST">
<label for="name">RadioStation</label>
    <input type="text" name="name">
 <label for="Genre">Genre</label>   
    <input type="text" name="genre">
    <button type="submit">Submit</button>
</form>
<a href="/radios">
    <button>Cancel</button>
</a>