<form action="/radios/{{radioId}}/songs/{{songId}}/ratings" method="POST">
    <input type="text" name="rating" placeholder="rating">
    <button type="submit">Submit</button>
</form>
<a href="/radios/{{radioId}}/songs/{{songId}}">
    <button>Cancel</button>
</a>
